
.main-menu-wrapper{
    margin-left: 30%;
    width: 50%;
}

.mini-banner {
    background-color:#f0f0f0;
}

 .card-title{
    font-size: 1.8rem;
    float: left;
    opacity: 1!important;
 } 

 .special-card {
    background-color: rgba(255, 255, 255, 0.5);
    }

.custom-card{
    border-radius: 20%
}
.card-list {
    padding: 0;
}

.card-subtitle {
    font-size: 1rem;
}

.card-paragraph{
    font-size: 0.7rem;
}

.blog {
    background-color: white;
    align-items: center;
}

.blog-tittle {
    text-align: center;
}

.blog-notice {
    margin-left: 62px!important;
}

.img-responsive {
    max-width: 100%;
    max-height: 100%;
}
 .notification-date-text {
    font-size: 0.5rem;
 }

 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
    .row > form {
        margin-right: 5px;
    }

    .input-group {
        width:10rem !important; 
    }
}
 /* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 321px) {
    .row > form {
        margin-right: 25px;
    }

    .input-group {
        width: 10rem !important; 
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 510px) {
    .row > form {
        margin-right: 50px;
    }

    .input-group {
        width: 20rem !important; 
    }
}

@media screen and (max-width: 600px) {
    .hide{
        display: none;
    }
    .first{
        display: none;
    }

    .navbar.justify-content-end .row .btn-group .icon{
        padding: 0px;
    }
    .navbar.justify-content-end .row .btn-group {
        flex-direction: column!important;
    }
    .navbar.justify-content-end .row form { display: none;}
    .navbar.justify-content-end.responsive .row  .icon-burguer{
      float: left;
      display: block;
    }
  }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
   .profile{
       display: none;
   }
.first{
    display: none;
}
  .navbar.justify-content-end.responsive {position: relative;}
  .navbar.justify-content-end.responsive .row .icon-burguer {
  }
  .navbar.justify-content-end.responsive .row .btn-group a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.justify-content-end.responsive .row .icon-burguer{
    float: none;
    display: block;
    text-align: left;
  }

  .btn-group{
      margin-left: 10rem;
  }
 .logo-img{
    width: 14px;
    height: auto;
}

.icon {
    font-size: 0.5rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 1.5px;
    padding: 10px;
  }

.icon-epiqmd{
    height: 30px;
    width: 45px;
    margin-left: 15rem;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
.icon-epiqmd{
    display: none;
}
 .logo-img{
    width: 28px;
    height: auto;
}

.icon {
    font-size: 1.5rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px;
  }


    .row > form {
        margin-right: 50px;
    }

    .input-group {
        width: 20rem !important; 
    }

    .home {
        background: url("../assets/img/bg/element4.png") 0 0 no-repeat;
        background-size: 25% 70%;
        background-position: right top;
    }

    
 .icon-burguer{
    display: none;
 }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .row > form {
        margin-right: 100px;
    }

    .input-group {
        width: 40rem !important; 
    }

    .home {
        background: url("../assets/img/bg/element4.png") 0 0 no-repeat;
        background-size: 35% 70%;
        background-position: right top ;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .row > form {
        margin-right: 12rem;
    }

    .input-group {
        width: 40rem !important; 
    }
    .home {
        background: url("../assets/img/bg/element4.png") 0 0 no-repeat;
        background-size: 35% 70%;
        background-position: right top;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .row > form {
        margin-right: 25rem;
    }

    .input-group {
        width: 40rem !important; 
    }
    .home {
        background: url("../assets/img/bg/element4.png") 0 0 no-repeat;
        background-size: 35% 70%;
        background-position: right top -60px;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2400px) {
    .row > form {
        margin-right: 50rem;
    }

    .input-group {
        width: 40rem !important; 
    }
    
    .home {
        background: url("../assets/img/bg/element4.png") 0 0 no-repeat;
        background-size: 35% 70%;
        background-position: right top -60px;
    }
 
}

.list-group-item-margin {
    padding: 0rem 0rem !important;
}

.col-without-padding {
    padding: 0px;
}