@media only screen and (min-width: 768px) and (max-width:1034px) {
    select#inputWeight{
        margin-top: 1.4rem;
    }

    h1.gray{
        font-size: 3rem;
    }
}

@media only screen and (min-width: 768px) {

    .gray{
        padding-left: 4rem;
    }

    h1.gray{
        font-size: 5rem; 
    }


}