.banner-health-care{
    background-image: url('../img/healthcare_banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    margin-bottom: 0px!important;
}

.banner::after{
    content: "";
    height: 50px;
    background-color:  var(--green);
    display: block;
}

.banner-health-care .container .display-4{
    padding: 0% 5%;
    margin-left: 20%;
}

.banner-health-care .container .display-4{
    margin-top: 20%;
}
h1{
    color:var(--green) ;
}

.status{
    margin: 2.5%;
}

.status-left {
    padding-right: 25%;
}

.status-right {
    margin-top: 2rem;
    padding-left: 25%;
}

.status-right p{
    text-align: right;
}

.banner-health-care div h1 {
    color: white;
    text-align: left;
}

article img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .banner-health-care .container .display-4{
        padding: 0% 5%;
        margin-left: 5%;
    }
    
    .banner-health-care .container .display-4{
        margin-top: 5%;
    }

    .status{
        padding: 5%;
    }

    .status-right p{
        text-align: left;
    }

    .status-right, .status-left {
        padding-left: 0%;
        padding-right: 0%;
    }
    
}