.banner-faq{
    padding-top: 5%;
    background-color:  var(--green);
}

.box-title{
    padding: 25px;
}

.title h5{
    padding: 1rem 0px;
    font-weight: 300;
    font-size: 1rem;
    border-bottom: 1.2px solid lightgray;
}

.help .row:nth-child(even){
background-color:#606060;
}

.help .row:nth-child(even) div div div
{   color: white;
    background-color:#606060;
    }

    .help .row:nth-child(even) div div div h2 button{  
         color: white;
    }

    .help .row:nth-child(even) div h2 { 
          color: white;
        }


.accordion::after{
    content: "";
    height: 25px;
    display: block;
}

.accordion::before{
    content: "";
    height: 25px;
    display: block;
}
.help{
    padding: 0px 5%;
}
.banner-faq div h1{
    color: white;
}


.title{
    background-color: white;
}

.title button {
    display: block;
}

.title button i{
    float: right;
}

.icon-white, .icon-green{
    position: absolute;
    right: 2%;
}


.hide-click {
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .accordion::before {
        height: 0px!important; 
   }
   
   .box-title {
       padding-bottom: 0px;
   }

   .btn-ambassador-light {
       width: 40%!important;
   }
}