.main-service-banner{
    background-image: url('../img/main_service_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    margin-bottom: 0px!important;
}

.main-service-banner .container h1 {
    font-size: 5rem;
    font-weight: 600;
}

.main-service-banner .container h1 span {
    font-size: 5rem;
    font-weight: 600;
    color: #25b492;
}
.icon-image{
    margin-top: 15%;
    width: 90%;
    height: 100%;
    max-height: 100px;
}

.banner::after{
    content: "";
    height: 50px;
    background-color:  #25b492;
    display: block;
}

.container_main_services{
    background-color:#f3f3f4;
    padding: 3% 8%;
}

.container_main_services h1{
   color: #25b492;
   font-size: 5.5rem;
   font-weight: 400;
}

.container_main_services .services-paragraph{
    color: #3a3a3c;
    font-size: 2.5rem;
    padding-left: 2%;
}

.container_main_services .services-subparagraph{
    color: #5c5b5d;
    font-size: 2rem;
    padding-left: 2%;
}
.container_main_services div .col-md-3{
    margin-top: 8%;
}

.container_main_services div .col-md-3 div p{
    color: #5c5b5d;
}

.container_main_services div .col-md-3 div h4{
    color: #3a3a3c;
}

.container_main_services div .col-md-3 div:nth-child(1) { 
    margin-bottom: 20%;
}

.container_main_services div .col-md-3 div:nth-child(2) { 
    margin-top: 25%;
    margin-bottom:45%;
}

.main-service-left div:nth-child(3) { 
    margin-top: 50%;
    margin-left: 30%;
}

.main-service-right div p { 
    text-align: end;
}

.healthcare{
    background-color:  #25b492;
}

.healthcare .row {
    padding: 5% 5%;}

.healthcare-tittle {
        font-size: 4rem;
        text-align: center;
}

.healthcare .row div p{
    font-size: 2rem;
}

.healthcare .row div ul{
    font-size: 1.5rem;
}