.navbar-nav{
    width: 100%;
}




@media only screen and (max-width: 767px) {
    .hide-responsive{
        display: none;
    }

    .navbar-nav .nav-item{
        text-align: start!important;
    }

    .navbar-nav{
        justify-content: start;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-nav li .btn-ambassador-success{
        margin: 0px!important;
    }
    .hide-not-responsive{
        display: none;
    }

    .navbar-nav .nav-item{
        text-align: center!important;
    }

    .navbar-nav{
        justify-content: center;
    }


}

@media only screen and (min-width: 768px) and (max-width:998px){
    .nav-link {
        display: block;
        padding: .5rem 1rem;
    }

    a.nav-link  {
        font-size: 0.7rem!important;
    }

    .nav-item a.btn-ambassador-success {
        padding: 5px 8px;
        font-size: 0.7rem!important;
    }

    a.nav-link img{
        width: 70px;
    }

    ul li {
        padding: 0px!important;
    }
}
