
.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: white;
}

.carousel-indicators li.active {
    background: white;
}

.blockquote-footer{
    color: white;
    text-align: end;
}
.carousel.slide{
    color: white;
}

.p-5.shadow.rounded {
    background-color: #25b492;
}

.carousel-indicators > li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }